
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid  bg-warning mb-5" style="background:url('/Template/img/thumb.jpg');background-size: cover;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="text-uppercase mb-3">- - - Contáctanos - - - </h1>
    
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/Template/img/team-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/Template/img/service-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-lg-5 mb-5">
                    <h5 class="font-weight-semi-bold mb-3">The baker Street</h5>
                    <p>Nuestra razón de ser es suministrar el mejor servicio, si tiene alguna duda o consulta, puede suministrarla por estos medio.</p>
                    <div class="d-flex flex-column mb-3">
                        <h5 class="font-weight-semi-bold mb-3">También puede contactarnos al:</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>San José, Costa Rica.</p>
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@bakerstreet.com</p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>8821-0583</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

       



<!-- Contact End -->

