@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Eliminar cuenta</h3>

<div class="row">
    <div class="col-md-6">
       
        <p>
            <strong>Si eliminas tu cuenta no podra ser recuperada</strong>
        </p>
   
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
