
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<br>
<br>
<br>
<br>
<br>
<br>
<form class="row g-3">
 
    <div class="col-12">
        <label for="inputAddress" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Nombre">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Email address</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Correo">
    </div>  <div class="col-12">
        <label for="inputAddress2" class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Ingrese email a enviar">
    </div>
   

 
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

