@model IEnumerable<ProyectoFinal.Models.Cotizacion>

@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var porRevisar = 0;
    var revisado = 0;
}



<style>

    .ui-dialog-titlebar-close {
        background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
        border: medium none;
    }

        .ui-dialog-titlebar-close:hover {
            background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
        }
</style>



<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>




<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a>Administración</a></li>
    <li class="breadcrumb-item active">Cotizaciones</li>
</ol>


<div >
    <div >
        <div class="card bg-primary text-white mb-4" style="display: inline-block;  vertical-align: middle; width:200px;">
            <div class="card-body" <h3 style="text-align:center">Total de Cotizaciones:</h3><h2 style="text-align:center">

                 
                
                    @{
                        var total = 0;
                    }
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        total = i + 1;
                    }
                    @total



            </h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Cotizacion</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>


        <div class="card bg-primary text-white mb-4" style="display: inline-block;  vertical-align: middle;width:200px;">
            <div class="card-body" <h3 style="text-align:center">Total por revisar:</h3><h2 style="text-align:center">


                    @foreach (var item in Model)
                    {
                        if (item.estado == null)
                        {
                            porRevisar = porRevisar + 1;
                        }
                    }
                    @porRevisar

            </h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Cotizacion</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>


        <div class="card bg-primary text-white mb-4" style="display: inline-block;  vertical-align: middle;width:200px; ">
            <div class="card-body" <h3 style="text-align:center">Revisado:</h3><h2 style="text-align:center">


                    @foreach (var item in Model)
                    {
                        if (item.estado != null)
                        {
                            revisado = revisado + 1;
                        }
                    }
                    @revisado

            </h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">Cotizacion</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>



    </div>

</div>







<div class="card">
    <div class="card-header">
        Lista de Cotizaciones
        <i class="fas fa-boxes"></i>
    </div>

    @*boton que permite registrar un producto de extras*@



    <div class="card-body">



        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-primary">Lista de Cotizaciones</h2>
            </div>
            <div class="col-lg-6">
                <!--  <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i> Crear Nuevo Producto </a>  -->
            </div>
        </div>

        <br />

        <div class="p-4 border rounded bg-light">
            <table id="example" class="table table-responsive table-hover display nowrap" cellspacing="0" width="100%">
                <thead class="table-dark">
                
                </thead>
            </table>

        </div>



        <div class="p-4 border rounded bg-light">
            <table id="tblDatos" class="table table-responsive table-hover display nowrap" cellspacing="0" width="100%">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Tema</th>
                        <th>Presupuesto</th>
                        <th>Mensaje</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
            </table>

        </div>

      


    

    </div>

</div>


@section Scripts {
    <script src="~/js/Cotizacion.js"></script>
}