@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baker - Bakery Street</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/Template/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Template/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">


                    <li class="breadcrumb-item"><a class="small text-light" asp-area="" asp-controller="Inicio" asp-action="TerminosIndex">  &emsp;&emsp; &emsp; &emsp; &emsp; &emsp; Terminos</a></li>
                  
                  
                    
                    @if (User.IsInRole("admin"))

                    {
                        <li class="breadcrumb-item"><a class="small text-light" asp-area="" asp-controller="Productos" asp-action="IndexAdmin">Admin</a></li>
                    }

                    @if (User.IsInRole("transport"))
                    {
                        <li class="breadcrumb-item"><a class="small text-light" href="#">Transportista</a></li>

                    }

                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">


                <small>Siguenos:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn-lg-square text-primary border-end rounded-0" target="_blank" href="https://www.facebook.com/profile.php?id=100084760299603&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn-lg-square text-primary pe-0" target="_blank" href="https://www.instagram.com/the_baker_street_cr?igsh=MXVvczd1NXhoMm92dg=="><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0">The Baker Street</h1>
            <img class="flex-shrink-0 rounded-circle border p-1 img-fluid " style="max-width:30%;"  src="~/Template/img/logo2.png" alt="">
      
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a asp-area="" asp-controller="Inicio" asp-action="Index" class="nav-item nav-link active">Inicio</a>
              
                <a class="nav-item nav-link" asp-area="" asp-controller="Inicio" asp-action="AcercaIndex">Acerca de nosotros</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Inicio" asp-action="Revista">Revista</a>
               
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Productos</a>
                    <div class="dropdown-menu m-0">
                        <a href="team.html" class="dropdown-item">Pasteles</a>
                        <a href="testimonial.html" class="dropdown-item">Macarons</a>
                        <a href="testimonial.html" class="dropdown-item">Brigadeiros</a>
                        <a href="testimonial.html" class="dropdown-item">Promociones</a>
                    </div>
                </div>
                <a asp-area="" asp-controller="Contacto" asp-action="Index" class="nav-item nav-link">Contacto</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mas</a>
                    <div class="dropdown-menu m-0">
                         <a class="dropdown-item" asp-area="" asp-controller="Cotizacions" asp-action="Create">Cotizaciones</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Sugerencia" asp-action="Create">Sugerencias</a>
                        <a asp-area="" asp-controller="Inicio" asp-action="EncuestaIndex" class="dropdown-item">Encuesta Producto</a>
                   
                    </div>
                </div>
                <partial name="_LoginPartial" />
            </div>
            <div class=" d-none d-lg-flex">
                <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                    <i class="fa fa-phone text-primary"></i>
                </div>
                <div class="ps-3">
                    <small class="text-primary mb-0">Llamanos</small>
                    <p class="text-light fs-5 mb-0">+506 7295 3833 &emsp;&emsp; &emsp;</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s" style="height: 140px; background-color: #1E1916;">
    </div>

   
    <!-- Carousel End -->

    <partial name="_Notificaciones" />
   @RenderBody()


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Direccion</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Tres Rios, Cartago, CR</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+506 7295 3833</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@bakerstreet.com</p>
                    <div class="d-flex pt-2">

                        <a class="btn btn-square btn-outline-light rounded-circle me-1" target="_blank" href="https://www.facebook.com/profile.php?id=100084760299603&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
             
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Links</h4>
                    <a class="btn btn-link" asp-area="" asp-controller="Inicio" asp-action="AcercaIndex">Acerca de nosotros</a>
                    <a class="btn btn-link" asp-area="" asp-controller="Contacto" asp-action="Index">Contactanos</a>
                    <a class="btn btn-link" href="">Nuestros servicios</a>
                    <a class="btn btn-link" asp-area="" asp-controller="Inicio" asp-action="TerminosIndex">Terminos y condiciones</a>
                    <a class="btn btn-link" asp-area="" asp-controller="Inicio" asp-action="Preguntas">Preguntas Frecuentes</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Links</h4>
                    <a class="btn btn-link" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
                    <a class="btn btn-link" asp-area="Identity" asp-page="/Account/Login">Iniciar sesion</a>
                    <a class="btn btn-link" asp-area="" asp-controller="Inicio" asp-action="EncuestaIndex">Calificar Producto</a>
                    <a class="btn btn-link" asp-area="" asp-controller="Sugerencia" asp-action="Create">Sugerencias</a>
                  
           
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Galeria de fotos</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-1.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-2.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-3.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-2.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-3.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="~/Template/img/product-1.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Universidad Fidelitas</a>, todos los derechos reservados.
                </div>
                <div class="col-md-6 text-center text-md-end">
  
                    Los mejores Macarons de Costa Rica</a>
                    <br> <a class="border-bottom"  target="_blank">The Baker Street</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/lib/wow/wow.min.js"></script>
    <script src="~/Template/lib/easing/easing.min.js"></script>
    <script src="~/Template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Template/lib/counterup/counterup.min.js"></script>
    <script src="~/Template/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Template/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>