@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="text-align:center;">
    <h1 class="text-danger">Acceso denegado</h1>
    <p class="text-danger">No tienes permiso para acceder a este recurso.</p>
</header>
