@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Confimacion de restablecer contraseña</h1>
<p>
    Por favor verifica tu email para restablecer la contraseña.
</p>
