@page
@model LockoutModel
@{
    ViewData["Title"] = "Esta cuenta ha sido bloqueada";
}

<header style="text-align:center;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada si crees que es un error contactanos.</p>
</header>
