
@{
    ViewData["Title"] = "AcercaIndex";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}

<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/Template/img/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/Template/img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// Acerca de nosotros</p>
                    <h1 class="display-6 mb-4">Horneamos desde el fondo de nuestro corazon</h1>
                    <p>
                        "¡Envios rápidos!
                        Y es que nadie es tan rápido como nosotros. Desde el día uno de nuestra apertura, hace 2 años, tomamos la decisión de tener nuestra propia flotilla de logística, apoyados también por terceros. Tus compras las podrás recibir hasta el mismo día de tu orden."
                       <br><br> "¡Satisfacción!
                        La efectividad con la que recibirás tus productos es parte de los objetivos diarios de nuestra empresa, así como también, la garantía que ofrecemos a cada uno de nuestros clientes. Si algún producto falla, nosotros nos encargamos de recogerlo para brindar una rápida solución en el tiempo establecido según el producto y su respectivo fabricante."
                        <br><br> "Precios Bajos
                        Nos enfocamos en brindarte la mejor tecnología dentro de nuestra plataforma, un excelente servicio al cliente pero también es nuestra prioridad que tengas un excelente precio a la hora de tu compra"
                        <br><br> "The baker Street
                        No solo somos una tienda por Internet creada en el año 2020, con mas de 500 pedidos realizados, somos una plataforma de ventas de reposteria que permite comprar por medio de nuestro sitio web, así como también los invitamos a visitar nuestras redes sociales donde podrá consultar nuestros últimos productos."
                    </p>
                   
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Calidad de Productos
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Productos Personalizados
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Ordena en Linea
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Entrega a tu casa
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

