
@{
    ViewData["Title"] = "EncuestaIndex";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}

<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container" style="text-align: center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf6d9QX3iyU5qfhkvbUNg5N84cDSe5pazj9hy9rnKlJz5IukQ/viewform?embedded=true" width="640" height="1990" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
