
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}

<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container">
      
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// Productos The Bakery Street</p>
            <h1 class="display-6 mb-4">Explora nuestra categoria de productos</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">2.000 - 10.000</div>
                        <h3 class="mb-3">Macarons</h3>
                        <span>Contamos con gran variedad de sabores de Macarons, el precio depende de la cantidad del producto.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img//p1.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">10.000 - 20.000</div>
                        <h3 class="mb-3">Queques</h3>
                        <span>LLamenos y pida you queque para una ocasion especial totalmente personalizado en sabor, color y forma.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img//p2.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">2.000 - 10.000</div>
                        <h4 class="mb-3">Brigadeiro</h4>
                        <span>Los mejores Brigaderos de diferentes sabores, el precio varia de acuerdo a cantidad.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img/p3.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">...</p>
        
        </div>

        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">2.000 - 10.000</div>
                        <h3 class="mb-3">Macarons</h3>
                        <span>Contamos con gran variedad de sabores de Macarons, el precio depende de la cantidad del producto.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img//p1.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">10.000 - 20.000</div>
                        <h3 class="mb-3">Queques</h3>
                        <span>LLamenos y pida you queque para una ocasion especial totalmente personalizado en sabor, color y forma.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img//p2.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3" h>2.000 - 10.000</div>
                        <h4 class="mb-3">Brigadeiro</h4>
                        <span>Los mejores Brigaderos de diferentes sabores, el precio varia de acuerdo a cantidad.</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/Template/img/p3.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn " href=""><i class="fa fa-eye text-primary"> Comprar</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div>
</div>
<!-- Product End -->

