
@{
    ViewData["Title"] = "SugerenciaIndex";
    Layout = "~/Views/Shared/Head_Foot.cshtml";

}


<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container" style="text-align: center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc2cPZjX17vRbDBmI23QRC4ktLEnZp_NNlalWqiMU1RJsZSWw/viewform?embedded=true" width="640" height="1077" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
