
@{
    ViewData["Title"] = "TerminosIndex";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}

<!-- Service Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-primary text-uppercase mb-2">...</p>
                <h1 class="display-6 mb-4">Terminos y condiciones</h1>
                <p class="mb-5"> En nuestro sitio web, agregamos vínculos a varios servicios de redes sociales (Facebook, Twitter, Instagram, YouTube, Linkedin). Al hacer clic en el símbolo que corresponde o el nombre completo, será direccionado al sitio web del servicio pertinente. Si selecciona el símbolo “Compartir” y elige un servicio de redes sociales, puede publicar un evento (como un resultado de búsqueda específico) en el sitio web de este servicio. Si visita el vínculo de uno de los servicios que aparecen debajo de la línea de texto “Síguenos”, podrá seguir nuestras actividades en la plataforma del servicio elegida. En los sitios web de servicios de redes sociales, aplican las políticas de privacidad de datos y los términos de uso de cada servicio. The Baker Street, no participa en la recopilación, el procesamiento y el uso de datos en estos sitios web.</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-bread-slice text-white"></i>
                            </div>
                            <h5 class="mb-0">Calidad Productos</h5>
                        </div>
                        <span>Todos nuestros pedidos se elaboran en base a pedidos para garantizar la frescura de los mismos</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-birthday-cake text-white"></i>
                            </div>
                            <h5 class="mb-0">Despacho</h5>
                        </div>
                        <span>Recomendamos realizar su pedido con anticipación para poder garantizar el despacho del mismo. Generalmente trabajamos con 5 dias de antelación, sin embargo dependiendo de la capacidad de producción de la tienda y la cantidad de pedidos que tengan, se pueden hacer despachos el mismo día.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-cart-plus text-white"></i>
                            </div>
                            <h5 class="mb-0">Informacion</h5>
                        </div>
                        <span>Previa solicitud por escrito, le informaremos, conforme a nuestra obligación establecida por la ley, si tenemos almacenados datos privados sobre usted y cuáles son esos datos. Según lo dispuesto por la Ley de Protección de Datos, usted puede solicitar la corrección, el bloqueo y la eliminación de dichos datos, a menos que estas solicitudes entren en conflicto con los límites de tiempo para el almacenamiento establecidos por la ley. Para obtener más información sobre sus derechos, comuníquese con: The baker street. En el caso de que haya discrepancias entre las declaraciones de privacidad de datos en los diferentes idiomas a raíz de la traducción, prevalecerá la versión original del sitio web.</span>

                        <br><br>
                        <span>No vendemos, ni intercambiamos o transferimos a terceros su información personal. Esto no incluye a terceros que nos ayudan a operar y manejar nuestro sitio web y nuestro negocio, hasta ahora estos agentes han acordado a mantener la información confidencial. Pudiésemos revelar su información cuando creamos conveniente para cumplir o ayudar con la ley, hacer cumplir nuestras políticas o proteger nuestros derechos o los de los demás o por seguridad. Sin embargo, ninguna información será suministrada a terceros para utilizarlas en campañas de mercadeo, publicidad ni otros usos.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-truck text-white"></i>
                            </div>
                            <h5 class="mb-0">Envio</h5>
                        </div>
                        <span>En caso de que el destinatario no se encuentre en la dirección de envío, nuestro equipo se comunicara con el cliente a través de los números de teléfono y correo electrónico suministrados por el mismo en el registro. Luego de haber agotado todas la vías de comunicación, y de no obtener respuesta por parte del cliente. El pedido se enviara nuevamente a la sede, donde el cliente podrá retirarlo personalmente o enviar a una persona para este fin. En caso de que desee que a empresa envíe el pedido por segunda ocasión, el cliente deberá cancelar nuevamente el monto correspondiente al envío.</span>
                        <br><br>
                        <span>The baker Street implementa medidas de seguridad técnica y organizacional para proteger los datos personales almacenados frente a la manipulación involuntaria o deliberada, la pérdida o la destrucción y el acceso por parte de personas no autorizadas. Nuestras medidas de seguridad mejoran continuamente en consonancia con los progresos tecnológicos.</span>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="~/Template/img/imag1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="~/Template/img/HBD.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

